.list-group-item {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.Task-list center {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-task-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 111, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }