.App {
    font-family: 'Times New Roman', serif;
    color: rgb(255, 111, 0);
    background-color: rgb(57, 56, 56);
    min-height: 100vh;  /* 100% of the viewport height */
    min-width: 100vw;   /* 100% of the viewport width */
    border: 5px solid rgb(255, 111, 0);
    z-index: 1000;
   
}